.address{
    display: inline-block;
}
.transporter-avt {
    margin-left: 3px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
  }
.name-transporter{
    display: inline-block;
}
.btn-transporter{
    width: 465px;
}
.icon-transporter{
    margin-top: 10px;

}