.buy-btn{
    max-width: 200px;
    margin-left: 15px;
    margin-top: 30px;
    background-color: rgb(238,77,45);

}
.addToCart-btn{
   max-width: 200px;
   margin-left: 15px;
   margin-top: 30px;
   color: rgb(247,169,99);
   background-color: rgb(255,238,232);

}
.quantity-btn{
    height: 37px;
}
.addToCart-btn{
    width: 200px;
    height: 50px;
}
.buy-btn{
    width: 200px;
    height: 50px;
}