
<div class="container">
  <div class="row">
{{> adminListItem}}
    <div class="col-lg-9 admin-input">   
      <div class="mt-4">
        <form method="POSt" action="addAdvertisementProcess">
          <div class="mb-3">
            <label for="category" class="form-label">Content of the advertisement</label>
            <input type="text" class="form-control" id="content" name="content" />
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" class="form-control" id="image" name="image" />
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Link of the advertisement</label>
            <input type="text" class="form-control" id="link" name="link" />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
