<div class="mt-4">
  <form method="POST" action="/product/addProductSuscess">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" />
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="mb-3">
          <label for="type" class="form-label">Type</label>
          <select id="selectType" class="form-select" aria-label="Default select example" onchange="updateinput();">
            <option selected>Select product type</option>
            {{#each type}}
            <option value="{{this.slug}}">{{this.name}}</option>
            {{/each}}
          </select>
          <input type="hidden" name="type" id="typeInput">
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="mb-3">
          <label for="description" class="form-label">Description </label>
          <input type="text" class="form-control" id="description" name="description" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <div class="mb-3">
          <label for="quantity" class="form-label">Quantity</label>
          <input type="text" class="form-control" id="quantity" name="quantity"/>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input type="text" class="form-control" id="image" name="image" />
        </div>
      </div>
       <div class="col-lg-4 col-sm-12">
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" id="price" name="price"/>
        </div>
      </div>
    </div>  
    <button type="submit" class="btn btn-primary">Add Product</button>
  </form>
</div> 

<script type="text/javascript">
  function updateinput(){
    var e = document.getElementById("selectType");
    var Selected = e.options[e.selectedIndex].value;
    document.getElementById("typeInput").value=Selected;
  }
</script>   