<div class="row mt-2">
  <div class="col-lg-2 col-sm-3">
    <a href="/admin/createCategory" class="btn btn-primary">Create new category</a>
  </div>
  <div class="col-lg-2 col-sm-3">
    <a href="/admin/updateCategory" class="btn btn-primary">Update category</a>
  </div>
  <div class="col-lg-2 col-sm-3">
    <a href="/admin/addProduct" class="btn btn-primary">Add Product</a>
  </div>
  <div class="col-lg-2 col-sm-3">
    <a href="/admin/productManagement" class="btn btn-primary">Product management</a>
  </div>
  <div class="col-lg-2 col-sm-3">
    <a href="/admin/userManagement" class="btn btn-primary">User management</a>
  </div>
  <div class="col-lg-2 col-sm-3">
    <a href="/admin/orderManagement" class="btn btn-primary">Order management</a>
  </div>
  <div class="col-lg-2 col-sm-3 pt-2">
    <a href="/admin/commentMnagement" class="btn btn-primary">Comment management</a>
  </div>
</div>