
<div class="container">
  <div class="row">
{{> adminListItem}}
    <div class="col-lg-9">   
      <div class="mt-4">
        <form method="GET" action="createCategory/success">
          <div class="mb-3">
            <label for="category" class="form-label">The name of the category</label>
            <input type="text" class="form-control" id="category" name="name" />
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" class="form-control" id="image" name="image" />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
