<div class="mt-4">
  <div class="row">
    <form method="POST" action="/account/changePasswordProcess?_method=PATCH">
      <div class="col-lg-12 col-sm-12">
        <div class="mb-3">
          <label for="inputAccountName" class="form-label">Account name</label>
          <input type="text" class="form-control" id="inputAccountName" name="accountName"/>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12">
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword" name="password"/>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12">
        <div class="mb-3">
          <label for="inputNewPassword" class="form-label">Enter your new password</label>
          <input type="password" class="form-control" id="inputNewPassword" name="newPassword"/>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12">
        <div class="mb-3">
          <label for="inputNewPassword" class="form-label">Re Enter your new password</label>
          <input type="password" class="form-control" id="inputNewPassword" name="reNewPassword"/>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12">
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="rememberPassword"/>
          <label class="form-check-label" for="rememberPassword">Remember Password</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Change your password</button>
    </form>
  </div>
</div>