<div class="mt-4">
  <form method="POST" action="/account/signInProcess">
    <div class="mb-3">
      <label for="inputAccountName" class="form-label">Account name</label>
      <input type="text" class="form-control" id="inputAccountName" name="accountName"/>
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword" name="password"/>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="rememberPassword" />
      <label class="form-check-label" for="rememberPassword">Remember Password</label>
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
  </form>
</div>